{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static  '/materialUI.css' %}">
    <link rel="stylesheet" href="{% static  '/index.css' %}">
</head>
<body>
    <div class="screen" id="main">
        <div class="titleBar">
            <p>MyBlog</p>
        </div>
        <div class="container">
            <h2>You Are logged out.</h2>
            <a href="{% url 'blog-home' %}">Return to The homepage.</a>
        </div>
    </div>
    
    
    <script src="{% static '/webUtils.js' %}"></script>
    <script src="{% static '/index_mui_config.js' %}"></script>
</body>
</html>