{% extends "Users/base.html" %}

{% block title %}Login{% endblock %}

{% block body %}
<h1>Login</h1>
<form method="POST">

    {% csrf_token %}
    <div data-mdb-input-init class="form-outline mb-4">
      <label class="form-label">Email</label>
      <input type="email" name="email" class="form-control form-control-lg" />
    </div>

    <div data-mdb-input-init class="form-outline mb-4">
        <label class="form-label">Password</label>
        <input type="password" name="password" class="form-control form-control-lg" />
      </div>

    <div class="d-flex justify-content-center">
      <button  type="submit" data-mdb-button-init
        data-mdb-ripple-init class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Login</button>
    </div>

    <p class="text-center text-muted mt-5 mb-0">Don't have an account? <a href="{% url 'register' %}"
        class="fw-bold text-body"><u>Register here</u></a></p>

  </form>
{% endblock %}