{% extends "Users/base.html" %}
{% load filter %}

{% block title %}Profile{% endblock %}

{% block body %}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-lg border-0 rounded-lg">
                <div class="card-body text-center">
                    
                    <h3 class="card-title">{{user.username}}</h3>
                    <p><i class="bi bi-envelope-fill"></i>{{user.email}}</p>
                    
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-primary me-2">Edit Profile</a>
                        <a href="{% url 'logout' %}" class="btn btn-outline-danger">Logout</a>
                    </div>
                </div>
            </div>
            
            
            </div>
        </div>
    </div>
</div>

{% endblock %}