{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    {% if user.is_authenticated %}
    
        <h1>Welcome 👋, {{ user.username }}</h1>
        
    
    {% endif %}
    <div class="horizontal-top">
        <h2>Posts</h2>
        {% if user.is_authenticated %}
        <a href="{% url 'create' %}"><button class="yellow-btn"> <img src="{% static 'add_ico.png' %}" width="10px"> </button></a>
        {% endif %}
    </div>
    <div class="divider"></div>
    <br>
    {% for blog in blogs %}
    <div class="card2 post">
        <h3>{{ blog.title }}</h3>
        <div class="divider"></div>
        <div class="details">
            <p><img class="profile-img" src="{{ blog.author.userprofile.image.url }}" alt="" width="40px">Author:  <a href="{% url 'readprofile' blog.author.id %}">{{ blog.author }}</a></p>
            <p>Date: {{ blog.date_posted}}</p>
            <a href="{% url 'post-detail' blog.id %}">More...</a>
        </div>
        
    </div>
    <br>
    <!-- <li>{{ blog }}</li> -->
    {% endfor %}
    {% if is_paginated %}
        <a href="?page=1">First</a>
        {% if page_obj.has_previous %}
            <!-- <a href="?page=1">First</a> -->
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        {% if page_obj.has_next %}
        <!-- <a href="?page=1">First</a> -->
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
        <a href="?page={{ page_obj.paginator.num_pages }}">last</a>
    {% endif %}


</div>

{% endblock %}