{% extends "Posts/base.html" %}

{% block title %}Posts{% endblock %}

{% block body %}

<div class="container py-5">
    <div class="row justify-content-center text-center mb-4">
        <div class="col-md-12 col-lg-8">
            <div class="card shadow-lg border-0 rounded-lg p-4">
                <h1 class="card-title mb-3">Blog Posts</h1>
                <div class="card-body">
                    {% if user.is_authenticated %}
                    <p class="card-subtitle text-muted font-monospace">{{ user.username }} ready to create new post
                        <a href="{% url 'create_post' %}" class="btn btn-dark btn-sm">click here</a>
                    </p>
                    {% else %}
                    <p class="card-subtitle text-muted font-monospace">Login to create new post
                        <a href="{% url 'login' %}" class="btn btn-dark btn-sm">Login here</a>
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-12 col-lg-8">
            <div class="card shadow-lg border-0 rounded-lg mb-4">
                <div class="card-body text-center align-content-center p-4">
                    {% for post in posts %}
                    <div class="card mb-3 text-dark bg-white">
                        <div class="card-body">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ post.author.username }}</h6>
                            <p class="card-text">{{ post.content }}</p>
                            <p class="card-text"><small class="text-muted">{{ post.date_posted }}</small></p>
                            {% if post.author == user %}
                            <form method="POST" action="{% url 'delete_post' post.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                            <a href="{% url 'edit_post' post.id %}" class="btn btn-primary">Update</a>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}